.grid_16
  .grid_7.alpha
    .list_description{:style => "border: 1px solid #aaaaaa; border-radius: 4px; padding: 5px"}
      %strong
        %a{:href => "#list_tab_1"}#{list.title}
  .grid_2
    &nbsp;
  .grid_8.omega
    &nbsp;
