.grid_4
  &nbsp;
.grid_8{:style => "text-align: center"}
  Sorry, that list is not available.
  %p
  Why not 
  %a{:href => "/lists/new"}
    create a new list
  , or
  %br
  %a{:href => "/lists"}
    browse existing lists
  for inspiration?
.grid_4
  &nbsp;
