.grid_16
  .grid_3.alpha
    &nbsp;
  .grid_10{:style => "text-align: center"}
    Sorry, the owner of that list has not made it public, or given you permission to view it.
  .grid_3.omega
    &nbsp;
