.grid_16{:style => "font-size: 30px; font-weight: bold; text-decoration: underline"}
  About Lis.tt
.grid_14.suffix_1.prefix_1
  Lis.tt makes 
  %a{:href => lists_path} keeping lists
  social!
  %p
  By signing in with your Twitter account, you can create, edit, share, browse and search several different types of lists.
  %p
  If you choose not to sign in, that's no problem either!  You won't
  be able to create or share lists, but you can still edit, browse
  and search!
  %p
.grid_16{:style => "font-size: 30px; font-weight: bold; text-decoration: underline"}
  Technology
.grid_14.suffix_1.prefix_1
  Lis.tt is written in Ruby, served by the Rails framework and powered by myriad awesome 
  %a{:href => "https://rubygems.org", :target => "#"} gems
  contributed by the open source community.  Storage is managed by a variety of persistence layer technologies.  Fonts come from 
  %a{:href => "http://www.google.com/webfonts", :target => "#"}Google web fonts.
  %p
  Lis.tt uses
  %a{:href => "https://twitter.com", :target => "#"}Twitter
  for authentication.  This may change, but for now we feel better not having access to your 
  personal information or passwords.
  %p
  Access to Lis.tt source code is available upon request; it is hosted on 
  %a{:href => "https://github.com", :target => "#"} github.
  %p
.grid_16{:style => "font-size: 30px; font-weight: bold; text-decoration: underline"}
  Developers
.grid_14.suffix_1.prefix_1
  Lis.tt is developed by 
  %a{:href => "https://twitter.com/cyrusd"} Cyrus Durgin
  \.
