.grid_16{:style => "font-size: 30px; font-weight: bold; text-decoration: underline"}
  About Lis.tt
.grid_14.suffix_1.prefix_1
  Lis.tt makes 
  %a{:href => lists_path}
    keeping lists
  social!
  %p
  By signing in with your Twitter account, you can create, edit, share, browse and search several different types of lists.
  %p
  If you choose not to sign in, that's no problem either!  You won't
  be able to create or share lists, but you can still edit, browse
  and search!
  %p
