.grid_16{:style => "font-size: 30px; font-weight: bold; text-decoration: underline"}
  Types of Lists
.grid_14.suffix_1.prefix_1
  With Lis.tt, you can create these types of lists:
  %ul{:style => "list-style-type: circle"}
    %li
      Unordered List
    %li
      Ordered List
    %li
      Accumulator List
  %p
.grid_16{:style => "font-size: 30px; font-weight: bold; text-decoration: underline"}
  Privacy
.grid_14.suffix_1.prefix_1
  You can create lists with one of three different levels of privacy:
  %ul{:style => "list-style-type: circle"}
    %li
      Public
    %li
      Protected
    %li
      Private
